/* CSS Reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

/* body {
    font-family: Arial, sans-serif; 
    line-height: 1.6;
  }
   */
/* Optional: Set a consistent link style */
/* a {
    text-decoration: none;
    color: inherit;
  } */

/* SITE COLOR PALETTE */
:root {
  --primary-purple: #4B49AC;
  --primary-blue: #98BDFF;
  --primary-bg: #f5f8ffd3;
  --secondary-bg: #FAFAFA;
  --secondary-blue: #7DA0FA;
  --secondary-red: #F3797E;
  --secondary-purple: #7978E9;
  --primary-text: #000000;
  --secondary-text: #929292;
  --border-color: #ccc;
}

/* Basic form styles */
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.card {
  background-color: var(--secondary-bg);
  color: black;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 3px 13.3px 9px rgba(202, 208, 238, 0.308);
}


.eye-icon {
  background-color: white;
  border-left: none;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
}

.secondary-text {
  color: var(--secondary-text);
  font-size: 23px;
}

.tertiary-text {
  color: var(--secondary-text);
  font-size: 18px;
  margin: 5px;
}


.change-password-btn {
  color: var(--secondary-red);
  cursor: pointer;
}

.change-password-btn:active {
  border: none;
}

.save-btn,
.update-pass-btn,
.edit-user-btn {
  background-color: var(--primary-purple);
  color: white;
  cursor: pointer;
  margin: 10px 0;
}

.save-btn:hover,
.update-pass-btn:hover,
.can-update-btn:hover,
.edit-user-btn:hover {
  background-color: var(--secondary-purple);
  color: white;
}

.cancel-btn,
.confirm-delete-btn,
.can-delete-btn:hover {
  background-color: var(--secondary-red);
  color: white;
  cursor: pointer;
}

.confirm-delete-btn:hover {
  background-color: #e23e43;
  color: white;
}

.create-user-btn {
  background-color: var(--secondary-purple);
  color: white;
  cursor: pointer;
  margin: 10px 0;
}

.create-user-btn:hover {
  background-color: var(--secondary-blue);
  color: white;
}

kendo-grid-filter-menu-container {
  :is(kendo-dropdownlist.k-filter-and) {
    display: none !important;
  }
  
  :is(kendo-grid-string-filter-menu-input,
      kendo-grid-numeric-filter-menu-input,
      kendo-grid-date-filter-menu-input):nth-child(3) {
    display: none !important;
  }
  }
